* {
    box-sizing: content-box;
    border-radius: 2px;
}

.form1 {
    background-color: rgb(221, 216, 216);
    padding: 1.5%;
    margin: 15%;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    padding-bottom: 0.3%;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: rgb(110, 6, 200);
    background-color: rgba(185, 183, 183, 0.559);
    font-family: 'Franklin Gothic Medium';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black;

}

img {
    width:7%;
    border-radius: 25px;
}

h3 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 5px;

}

h5 {
    color: red;
    margin-top: 0%;
    text-decoration-line: underline;

}

fieldset {
    border-radius: 5px;
    padding: 0%;
    border: 1px solid rgba(29, 29, 29, 0.674);
}

.address {
    width: 100%;
    border-radius: 3px;
    padding-left: 5px;
    padding-top: 5px;

}

input[type="email"],
[type="password"],
[type="number"],
[type="date"],
[type="text"],
select {
    border: 0;
    border-radius: 5px;
    block-size: 30px;
    width: 100%;
    border: 1px solid rgba(155, 154, 154, 0.79);
}
.service{
    width: 25%;
    height: 5%;
    margin-top: 3px;
    margin-bottom:8px;
    border-radius: 15px;
    box-sizing: content-box;
    border: 2px solid rgba(108, 106, 106, 0.427);
}

.Pay1 {
    background-color: rgb(42, 212, 42);
    font-size: large;
    width: 45%;
    border: 1px solid black;
    border-radius: 8px;
    block-size: 35px;
    margin: 15px;
}

.Reset {
    background-color: rgb(251, 255, 0);
    font-size: large;
    width: 45%;
    margin: 15px;
    border: 1px solid black;
    border-radius: 8px;
    block-size: 35px;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
    font-size: larger;
    block-size: 37px;
}

footer {
    background-color: #333;
    padding: 1.5%;
    margin: 0.1%;
    border-radius: 15px;
}

footer a {
    text-decoration: none;
    padding: 20px;
    color: white;
    margin: 5px;
}

.payment {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0; 
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

.form2 {
    background-color: rgb(234, 234, 234);
    margin:auto;
    margin-top: 100px;
    border: 1px solid rgb(49, 49, 49);
    width: 50%;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align:center;
    border-radius: 10px;
 }

.close{
    position: relative;
    font-size: 50px;
    float:right;
    font-weight: lighter;
    padding-right: 13px;
    
}
.close:hover{
  color: red;
  cursor: pointer;
  font-weight:bolder;
}
.green{
    width: 12%;
    border-radius: 50px;
}